:root {
    --text-color: #e1e5f2;
    --pallete-1: #26547cff;
    --pallete-2: #ef476fff;
    --pallete-3: #ffd166ff;
    --pallete-4: #06d6a0ff;
    --pallete-5: #fcfcfcff;
}

* {
    color: var(--pallete-5);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    transition: .2s;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--pallete-1);
}

.container {
    padding: 70px 30px;
}

.form {
    width: 400px;
    height: auto;
}

.heading {
  opacity: 0;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}

input {
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border: none;
    background: var(--pallete-5);
    box-shadow: 6px 6px var(--pallete-3);
    transition: .2s;
    color: #000000;
}

input:focus {
    color: #000000;
    box-shadow: 12px 12px var(--pallete-3);
}

a {
    transition: .2s;
}

.link {
  opacity: 0;
  text-align: center;
  display: block;
  margin: 30px auto;
  text-decoration: none;
  transition: .2s;
}

button{
  opacity: 0;
    background: var(--pallete-5);
    color: black;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    display: inline-block;
    border: 0px;
    box-shadow: 6px 6px var(--pallete-3);
    transition: .2s;
}

button:hover{
    cursor: pointer;
    box-shadow: 10px 10px var(--pallete-3);
}

.alert-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  max-width: 90%;
  width: auto;
  height: auto;
  padding: 10px;
  background: var(--pallete-3);
  color: var(--pallete-5);
  text-align: center;
  transition: 1s;
}