* {
    font-family: 'Poppins', sans-serif;
    color: rgb(219, 219, 219);
}

body {
    background-color: #12181B;
}

.wrapper {
    margin: auto;
    width: 50%;
}


h1 {
    text-align: center;
    
    padding: 1em 10px;
    
}

.explanation {
    padding: 8px 10%;
    text-align: center;
}

