/* Palette: #022b3a, #1f7a8c, #bfdbf7, #e1e5f2, #ffffff */

:root {
    --text-color: #e1e5f2;
    --bg-color: #022b3a;
    --pallete-1: #002b3a;
    --pallete-2: #1f7a8c;
    --pallete-3: #bfdbf7;
    --pallete-4: #e1e1f2;
    --pallete-5: #fff;
}


* {
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: var(--bg-color);
}

.wrapper {
    margin: auto;
    width: 50%;
    text-align: center;
}


h1 {
    color: var(--text-color);
    padding: 1em 10px;
}

h2 {
    color: var(--text-color);
}

p {
    color: rgb(219, 219, 219);
    padding: 8px 10%;
    text-align: center;
}

a.login-button{
    background-color: #88acd0;
    color: var(--text-color);
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
   }

