/* Palette: #022b3a, #1f7a8c, #bfdbf7, #e1e5f2, #ffffff */

:root {
    --pallete-1: #26547cff;
    --pallete-2: #ef476fff;
    --pallete-3: #ffd166ff;
    --pallete-4: #06d6a0ff;
    --pallete-5: #fcfcfcff;
}


* {
    font-family: 'Poppins', sans-serif;
    
}

body {
    padding-top: 1em;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--pallete-1);
}

.container {
    position: relative;
    width: 90%;
    height: 87vh;
    margin: auto;
}



h1,h2,p,button {
    color: var(--pallete-5);
}


p {
    padding: 8px 10%;
    text-align: center;
}

button{
    background-color: var(--pallete-5);
    color: black;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000000;
    display: inline-block;
    box-shadow: 6px 6px var(--pallete-3);
    transition: .2s;
}

button:hover{
    cursor: pointer;
    box-shadow: 10px 10px var(--pallete-3);
}

