@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
  --color-body: #f6f7f8;
  --color-heading: #2ec4b6;
  --color-base2: #011627;
  --color-base: #2f3235;
  --color-brand: #ff3366;
  --color-brand2: #20a4f3;
}

body {
  background-color: var(--color-body);
  color: var(--color-base2);
  font-family: 'ABeeZee', sans-serif;
}


.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--color-brand);
}

.link:hover {
  text-decoration: none;
  color: var(--color-brand);
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-brand);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.navbar {
  background-color: var(--color-brand2);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: 240px;
    background: var(--color-brand2);
    background-size: cover;
    background-position: center;
  }

  #content-wrapper {
    padding-left: 240px;
  }
}

#navbar #nav-link {
  font-weight: 700;
}

#about-column {
  display: block;
  border-radius: 5px;
  text-align: center;
  padding-top: 2rem;
  margin: 10px;
}

#pricing-column {
  display: block;
  border-radius: 5px;
  border: 1px solid var(--color-base);
  text-align: center;
  padding-top: 2rem;
  margin: 10px;

}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}